<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=LAPTOP-HT5NU7U9\SQLEXPRESS;Initial Catalog=BloodBankManagementSystem;Integrated Security=True"/>
  </connectionStrings>
  
</configuration>
